* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( to bottom,brown,rgb(109, 92, 14));
}

.content {
    width: 40%;
    margin: auto;
    height: 60%;
    max-width: 80%;
}

.hidden {
    display: none;
}

.grid-container {
    background-color: #754727;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10%;
    gap: 1%;
    height: 40vh;
    border: 10px solid #754727;
}

.opera {
    background-color: #961616;
}

.opera:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

.numeros {
    background-color: #6d1c1c;
}

.numeros:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

.visor {
    height: 20vh;
    background-color: rgba(156, 104, 8, 0.726);
    position: relative;
    border: 10px solid #754727;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
}

.teclado {
    position: absolute;
    bottom: 1px;
    right: 0px;
    font-size: 5vh;
}

button {
    cursor: pointer;
}
